<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>525649738847-phtfp8ih83alcj25o2ois2ftifpjn36h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.525649738847-phtfp8ih83alcj25o2ois2ftifpjn36h</string>
	<key>API_KEY</key>
	<string>AIzaSyDPyYenxFUvyxLMaBvLvQ9DnVawdMAn_qQ</string>
	<key>GCM_SENDER_ID</key>
	<string>525649738847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.omodeisale.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-5ce5a</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-5ce5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:525649738847:ios:d44a45557afc46f4646fea</string>
</dict>
</plist>